@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rosario:wght@700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit; }

li {
  list-style: none; }

body {
  font-family: 'Roboto', sans-serif;
  color: #333333;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px; }

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative; }

header,
footer {
  flex-grow: 0; }

main {
  flex-grow: 1;
  flex-shrink: 0; }

header {
  max-height: 178px; }
  @media (max-width: 769px) {
    header {
      max-height: 170px; } }
  @media (max-width: 481px) {
    header {
      max-height: 168px; } }

@media (max-width: 481px) {
  .header-desktop {
    display: none; } }

.header-mobile {
  display: none; }
  @media (max-width: 481px) {
    .header-mobile {
      display: block; } }
  .header-mobile__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    padding-top: 24px; }
  .header-mobile__logo {
    font-family: 'Roboto', sans-serif;
    font-size: 17.3858px;
    line-height: 21px;
    font-weight: 700;
    letter-spacing: 0.105em;
    color: #e11c4b; }
  .header-mobile__list {
    display: flex;
    gap: 24px; }
  .header-mobile__inner {
    display: flex;
    margin-bottom: 18px; }

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px; }
  @media (max-width: 769px) {
    .container {
      max-width: 100%;
      padding: 0 20px; } }
  @media (max-width: 481px) {
    .container {
      max-width: 100%;
      padding: 0 10px; } }

.header-top {
  background: #f5f5f5;
  border: 2px solid #e8e8e8; }

.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0; }
  @media (max-width: 769px) {
    .header-info {
      padding: 8.5px 0; } }
  .header-info__list {
    display: flex;
    gap: 36px; }
  .header-info__link {
    display: flex;
    align-items: center;
    gap: 6px; }

.header-inner {
  padding: 20px 0;
  display: flex;
  align-items: center; }
  @media (max-width: 769px) {
    .header-inner {
      padding: 16px 0 18px; } }
  .header-inner__link {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 19px; }
    .header-inner__link svg {
      align-self: center; }
    @media (max-width: 769px) {
      .header-inner__link span {
        display: none; } }
  .header-inner__links {
    display: flex;
    gap: 24px; }

.header-logo {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.105em;
  color: #e11c4b;
  margin-right: 12px; }
  @media (max-width: 769px) {
    .header-logo {
      font-size: 18.3172px;
      line-height: 22px; } }

form {
  background: #ffffff;
  border: 2px solid #dddddd;
  border-radius: 100px;
  padding: 10px 10px 10px 18px;
  width: 523px;
  display: flex;
  align-items: center;
  margin-right: 25px; }
  @media (max-width: 769px) {
    form {
      max-width: 299px; } }
  @media (max-width: 481px) {
    form {
      padding: 6px 18px;
      width: 100%;
      margin-right: 0; } }
  form svg {
    margin-right: 6px; }
  form input {
    outline: none;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #8d8d8d;
    width: 100%; }

.header-navigation {
  margin-bottom: 36px;
  position: relative; }
  .header-navigation__list {
    display: flex;
    justify-content: space-between;
    gap: 36px;
    overflow: hidden;
    margin: 0 auto;
    will-change: right;
    transition: right 0.3s;
    position: relative;
    width: 100%; }
    @media (max-width: 481px) {
      .header-navigation__list {
        gap: 18px;
        margin-bottom: 25px; } }
  .header-navigation__item {
    font-size: 16px;
    line-height: 19px; }
    .header-navigation__item:first-child {
      color: #e11c4b; }
  .header-navigation__link {
    display: flex;
    align-items: center;
    gap: 6px;
    min-width: max-content;
    transition: all ease 0.3s; }
    .header-navigation__link:hover {
      color: #e11c4b; }

.arrow-right,
.arrow-left {
  position: absolute; }

.arrow-left {
  left: 0;
  top: -4px;
  transform: rotate(180deg);
  z-index: 20; }

.arrow-right {
  right: 0;
  top: 0; }

.discounts-promo__img {
  width: 100%;
  margin-bottom: 36px; }

.discounts-info__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 18px; }
  @media (max-width: 481px) {
    .discounts-info__title {
      font-size: 24px;
      line-height: 28px; } }
.discounts-info__subtitle {
  font-size: 22px;
  line-height: 26px;
  color: #939393;
  margin-bottom: 24px; }
  @media (max-width: 481px) {
    .discounts-info__subtitle {
      font-weight: 400;
      font-size: 18px;
      line-height: 21px; } }
.discounts-info__text {
  margin-bottom: 14px; }
  .discounts-info__text:last-child {
    margin-bottom: 96px; }
  .discounts-info__text + .discounts-info__text {
    margin-top: 14px; }

footer {
  background: #f4f4f4;
  padding: 36px 0 20px; }
  @media (max-width: 769px) {
    footer {
      max-height: 160px; } }
  @media (max-width: 481px) {
    footer {
      padding: 10px;
      min-height: 224px; } }

@media (max-width: 481px) {
  .footer-desktop {
    display: none; } }

.footer-mobile {
  display: none; }
  @media (max-width: 481px) {
    .footer-mobile {
      display: block; } }
  @media (max-width: 481px) {
    .footer-mobile__copyright {
      border-top: 1px solid #8d8d8d;
      padding: 24px 0; } }
  @media (max-width: 481px) {
    .footer-mobile__copyright p {
      font-size: 12px;
      line-height: 18px;
      color: #8d8d8d; } }

@media (max-width: 769px) {
  .footer-container {
    position: relative; } }

.footer-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .footer-navigation__list {
    display: flex;
    align-items: flex-start;
    gap: 62px; }
    @media (max-width: 481px) {
      .footer-navigation__list {
        gap: 18px; } }
    .footer-navigation__list:first-child {
      margin-bottom: 24px; }
  .footer-navigation__link {
    display: flex;
    align-items: center;
    gap: 10px; }
    @media (max-width: 481px) {
      .footer-navigation__link {
        font-size: 14px;
        line-height: 22px; } }

.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px; }

.footer-info {
  display: flex;
  justify-content: space-between;
  margin-top: 38px; }
  .footer-info__copyright {
    display: flex;
    align-items: center;
    color: #8d8d8d; }
  .footer-info__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px; }
    @media (max-width: 481px) {
      .footer-info__link {
        width: 30px;
        height: 30px; } }
  .footer-info__socials {
    display: flex;
    gap: 12px; }
    @media (max-width: 769px) {
      .footer-info__socials {
        position: absolute;
        top: -10px;
        right: 0; } }
    @media (max-width: 481px) {
      .footer-info__socials {
        position: static;
        margin: 12px 0 8px; } }
    .footer-info__socials-item {
      background: #ffffff;
      border: 1px solid #8d8d8d;
      border-radius: 50%; }

.footer-contacts__item + .footer-contacts__item {
  margin-top: 8px; }

.slider {
  display: flex;
  width: 1150px;
  overflow: hidden; }

.menu__btn {
  border: none;
  background: transparent;
  margin-right: 15px; }

.close {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 18px;
  right: 10px; }

.menu {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 500ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transform: translate(0, -1000px); }

.menu-active {
  transform: translate(0, 0); }

.menu-inner {
  height: 702px;
  width: 320px;
  padding: 18px 0 30px;
  background-color: #ffffff;
  z-index: 10;
  position: relative; }
  .menu-inner__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin: 12px 0 10px 10px; }
  .menu-inner__item {
    padding: 8px 10px;
    border-bottom: 2px solid #e8e8e8; }
    .menu-inner__item:last-child {
      border: none; }
  .menu-inner__link {
    display: flex;
    align-items: center; }
    .menu-inner__link svg {
      margin-left: auto; }
  .menu-inner__img {
    margin-right: 8px; }

#arrow-left-mobile {
  opacity: 0;
  position: absolute;
  top: -5px;
  left: 0;
  z-index: 90; }

#arrow-left-desktop {
  opacity: 0;
  position: absolute;
  top: -5px;
  left: 0;
  z-index: 90; }

/*# sourceMappingURL=index.css.map */
